// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~admin-lte/dist/css/adminlte.css";

@import "~admin-lte/plugins/fontawesome-free/css/all.min.css";
@import "~admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css";

@import "~admin-lte/plugins/select2/css/select2.min.css";
@import "~admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css";

.select2-selection {
  border: 0;
  border-radius: 0;
  font-size: 14px;
  outline: 0;
  min-height: 38px;
  text-align: left;
}

.select2-selection__rendered {
  margin: 10px;
}

.select2-selection__arrow {
  margin: 10px;
}

@import "~admin-lte/plugins/daterangepicker/daterangepicker.css";

@import "~admin-lte/plugins/toastr/toastr.min.css";

@import "~admin-lte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css";